{% extends "Blog/madre.html" %}

{% load static %}


{% block inserte_aqui_el_contenido %}

Hola mi nombre es César Sandoval, mi idea con travel Blog Bros era formar una comunidad cerrada,
dirigida especialmente a viajeros que les guste los deportes de aventura, buceo y las olas 🏄‍♀️🏄‍♂️ y,
por sobre todo mucho respeto y armonía con la naturaleza.

Travel Blog Bros no es abierta, es una comunidad cerrada, no apto para menores de 18 😂, dado que,
la idea es compartir tips de viajes en estilo "do not tell" y contar historia frenéticas,
hilarantes y divertidas, buenas anecdotas con finales buenos y finales malos de los viajes,
consejos etc etc quizás alguna moraleja. 😁

Originalmente, este proyecto se debía desarrollar de manera grupal pero,
los demás integrantes quedaron atrás y no tuvimos más comunicación así que,
aquí estoy yo armando la idea y tratando que el proyecto quede operativo,
en algún futuro inmediato me gustaría mejorar la GUI del blog y agregar más cosas,
mientras es lo que tenemos y es lo que hay! 

Contacto admin: c3sarsv@hotmail.com
Powered by yosonoilcesaro también en IG.
Para contrataciones e ideas escribir al admin. ✌😁

Namaste!... Pura Vida!... Pagi! 🤙
Mauruuru!

{% endblock %}