{% comment %} <!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'buscar-articulo' %}">Buscar Artículo</a>
        <a class="navbar-brand" href="{% url 'buscar-seccion' %}">Buscar Sección</a>
        <a class="navbar-brand" href="{% url 'buscar-autor' %}">Buscar Autor</a>
    </div>
</nav> {% endcomment %} 

<h2> Proyecto final Python: <h2>

<h3> * TRAVEL BLOG BROS- Cuentanos a donde tenemos que ir!?... pero en muy pocas palabras ; ) <h3>
----------------------------------------------------------------------------------------------

<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'buscar-articulo' %}">Buscar Artículo</a>
        <a class="navbar-brand" href="{% url 'buscar-seccion' %}">Buscar Seccion</a>
        <a class="navbar-brand" href="{% url 'buscar-autor' %}">Buscar Autor</a>
        <a class="navbar-brand" href="{% url 'registrar-articulo' %}">Registrar Articulo</a>
        <a class="navbar-brand" href="{% url 'registrar-seccion' %}">Registar Sección</a>
        <a class="navbar-brand" href="{% url 'registrar-autor' %}">Registrar Autor</a>
    </div>
</nav>
----------------------------------------------------------------------------------------------<h3>
{% block inserte_aqui_el_contenido %}

{% endblock %}

{% comment %} # <h3> <a href="{% url 'Inicio' %}">Inicio</a> <h3>
# <h3> <a href="{% url 'BuscarArticulo' %}">Buscar Artículo</a> <h3> {% endcomment %}
